.button {
    display: flex;
    padding: $space-quarter $space-half;
    border-radius: $space-half;
    border: 1px solid $primary;
    gap: $space-quarter;
    //color: $text;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: $primary;


    &:hover{
        color: $primary;
        background-color: $text;
    }

    &--row{
        flex-direction: row;
    }

    &--col{
        flex-direction: column;
    }
}
