<header class="header max-width mb-3 p-2">
    <nav class="navbar navbar-expand-md bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <span class="icon material-icons-sharp">sports_tennis</span>
                LIGA DE TENNIS
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="participantes.html">
                    <i class="bi bi-person-arms-up"></i>
                    Participantes
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sobre_la_iniciativa.html">
                    <i class="bi bi-trophy-fill"></i>
                    Sobre la iniciativa
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contacto.html">
                    <i class="bi bi-chat-text-fill"></i>
                    Contacto
                  </a>
                </li>
              </ul>
          </div>
        </div>
    </nav>
   
</header>
